---
import Logo from '../../public/Logo.astro'
---



<header class="py-[7px] bg-[#1a2456] px-[7px] fixed top-4 right-4 left-4 flex flex-row justify-between align-center pr-[10px] z-20">
    <Logo></Logo>
    <nav class="mt-[8px] text-sm font-thin">
        <ul class="flex flex-row justify-between gap-10 align-center text-themepink [&>li]:cursor-pointer tracking-[1px] text-[13px]">
            <li>HOW IT WORKS</li>
            <li>WORKFLOWS ▾</li>
            <li>DOWNLOAD</li>
            <li>BLOG</li>
            <li >SUPPORT</li>
            <li class="font-semibold">SHOP</li>
            <li class="flex gap-[20px]"><img src="shopping-bag.png" class="w-[20px]"> <span>EUR &#8192▾</span> </li>
        </ul>
    </nav>
</header>