---
import ArrowBottom from "../../public/ArrowBottom.astro";
---

<section class="bg-hero-background bg-cover bg-center h-[67.5vh] grid columns-1 items-center justify-center align-center">
    <span class="grid columns-1 gap-5">
        <h1 class="text-4xl font-bold text-center text-themepink tracking-[5px]">
            A CONSOLE FOR <br> EVERY WORKFLOW
        </h1>
        <h2 class="text-center text-xl text-themepink tracking-[1.5px]">
            Discover the perfect console for yours
        </h2>
    </span>
    <a href="#here!" class=" absolute bottom-[34.5vh] left-[48.65%] cursor-pointer">
        <ArrowBottom></ArrowBottom>
    </a>
</section>