---
import ThickCard from '../components/ThickCard.astro'
---

<section id="here!" class="w-[100%] py-[40px] grid grid-cols-2 align-middle justify-center items-center px-[19.9%] gap-3">
    <ThickCard url="../../public/FirstCardBase.webp" title="MINI CONSOLE" price="227.95" subtitle="Ideal for everyday shortcuts. Adaptable to any workflow."></ThickCard>
    <ThickCard url="../../public/SecondCardBase.webp" title="AUDIO CONSOLE" price="455.95" subtitle="Ideal for music & audio. Adaptable to any workflow."></ThickCard>
    <ThickCard url="../../public/ThirdCardBase.webp" title="FOTO CONSOLE" price="546.95" subtitle="Ideal for photo & video. Adaptable to any workflow."></ThickCard>
    <ThickCard url="../../public/ForthCardBase.webp" title="VIDEO CONSOLE" price="820.95" subtitle="Ideal for Video & Film. Adaptable to any workflow."></ThickCard>
</section>